div
  p auth.uid: {{auth.uid}}
  p this {{text}} is: {{now}}
  br
  p.pb-0(:class='[css.red]') red text class name: {{css.red}}
  p.pb-0(class='blue') blue text class name: blue
  p example image
    div(:class='[css.exampleImg]')
  br
  b-button(@click='makeToast(true)') Show Toast (appended)
  br
  b-button(@click='toggleSidenav') Toggle Sidenav
