div
  | this index page server time: {{now}}
  span(:class='[style.red]') test2
  br
  b-button(@click='makeToast(true)') Show Toast (appended)
  router-link(:to="{name:'hello2',params:{id:now}}") hello2 
  router-link(:to="{name:'hello3',params:{id:now}}") hello3 
